*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-family:"Comic Sans MS",sans-serif;
}


.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container form{
    padding:10px;
    text-align:center;
    box-shadow:0 22px 30px black;
    border-radius:10px;
    border:none;
    outline:none;
}

.input-box .sanjay{
   padding:5px;
   font-size:16px;
   /* border:none; */
   outline:none;
   box-shadow:0 0 10px whitesmoke;
   border:1px solid black;
   border-radius:5px;
}

h1{
    margin-bottom:8px;
}

.for-check{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:10px;
    margin-top:9px;
}

.check{
    display:flex;
    align-items:center;
    gap:2px;
}

.forget a:hover{
    text-decoration:underline;
    color:red;
    font-size:10px;
    font-weight:bold;
}

h6{
    margin-top:10px;
}

.social-media{
    margin:6px 0;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.social-media li{
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    outline:none;
    box-shadow:0 22px 30px yellowgreen;
    border-radius:50%;
    cursor: pointer;
    transition:.5s;
}

.social-media li:hover{
    scale:1.1;
    border:1px solid blue;
    box-shadow:0 22px 30px blue;
}

.btn{
    margin-top:15px;
    width:100%;
    padding:5px;
    background:yellowgreen;
    border-radius:5px;
    outline:none;
    border:none;
    cursor: pointer;
    color:#000;
    font-size:19px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background-color:rgb(105, 145, 25);
    /* border:1px solid black; */
}

.icon{
    position: absolute;
    margin-left:220px;
    margin-top:-30px;
}